<br>
<%= link_to 'MYBOOKS', mydashbord_path%>
<br>
<%= form_with url: "/searchbook", method: :post do |form| %>
            <%= form.text_field :query,placeholder:"Search"%>
            <%= form.submit "search"%>
            <% end %>

<h1>BOOKS AVAILABLE</h1>
<%@books.each do |book|%>
<%=book.book_name%>
<%=book.title%>
<%=book.stoke%>
<%=book.price%>
<br>
<%end%>
<%= link_to 'Back',  students_path %>